@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  cursor: url('/cursor.png'), auto !important;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/background.svg');
  z-index: -1;
  opacity: 0.35;
}
